html {
  font-size: 65%;
}

body {
  background-color: #111113;
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

hr {
  background-color: white;
  height: 1px;
  border: none;
  flex: 0 0 10% !important;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.62rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

h6, .nav-link {
  font-size: 1.2rem;
  font-weight: 560;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
}

a {

  color: white;
  text-decoration: none;
  transition-property: color;
  transition-duration: .1s;
  transition-timing-function: linear;
}

.active {
  color: grey;
}

a:hover {
  color: grey;
  text-decoration: none;
}

video{
  min-width: auto;
  min-height: 120vh;
  position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

}

.full-wrap {
  height: 100vh;
  display: block;
}
}

.div2 {
  margin-top: 3rem;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  margin-left: 1rem;
}

.contact-details-text {
  margin-top: 3rem
}

.arrow {
  position: absolute;
  max-width: fit-content;
  bottom: 5%;
}

.row {
  margin-top: 2em
}

.email-arrow {
  font-size: 3rem;
}
.contact-container{
  margin-top: 5rem;
}


.email-custom {
  padding: 1rem;
  margin-bottom: 4rem;
}

@media (min-width: 1440px) {
  .container {
    max-width: 85%
  }

  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 800px) {
  .info-img {
    padding: 0px;
  }
}

.info-header {
  margin-top: 12rem;
}

@media (min-width: 800px) {
  .info-header {
    margin-top: 20rem;
  }
}

.social-links {
  margin-top: 3rem;
}

.social-links-sm {
  padding-top: 1rem;
}

.copyright {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  padding-top: 32px;
}

.cv {
  margin-top: 5rem;
}

.bio-pg {
  padding-top: 3rem;
}

.logo-link {
  margin-bottom: 0;
}

.underline {
  text-decoration: underline;
}

.email-row {
  margin-top: 0;
}

.index-thumbnail-container {
  height: 200px;
  background-color: #111113;
  overflow: hidden;
  width: 100%;
  filter: grayscale(100%);
}

.index-thumbnail-container:hover {
  filter: none;
  transition: 1s  ease-out;
}

.index-gif {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;


}

.gif {

  min-height: 120vh;
  width: auto;

 position: absolute;
   top: -9999px;
   bottom: -9999px;
   left: -9999px;
   right: -9999px;
   margin: auto;


}
.project-image{
  padding-top: 2rem;
}
.project-row{
  margin-top: 0;
}

.project-descript {
  margin-bottom: 7rem;
}

.credits {
  margin-top: -4.4rem;
}

.thumbnail-image {
  position: relative;
  width: 100vw;
}

.no-padding-left {
  padding-left: 0;
}

button:focus {
  outline: 0;
}

span {
  display: block;
  width: 2rem;
  height: 1px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  z-index: 1;
}
.video{
  padding-top: 2rem;
}

.lb-image{
  border: none !important;
  border-radius: 0 !important;

}
.lb-outerContainer {
  border-radius: 0 !important;
}
