html {
  font-size: 65%
}

body {
  background-color: #111113;
  color: white;
  font-family: 'Inter', sans-serif;
}

hr {
  background-color: white;
  height: 2px;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.62rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;

}

h6, .nav-link {
  font-size: 1.2rem;
  font-weight: 560;
}
p{
  font-size: 1.3rem;
}

a {
  color: white;
  text-decoration: none;
}
.active{
  color:grey;
}

a:hover {
  color: grey;
  text-decoration: none;
}
.full-wrap{
   height: 100vh;
   display: block;
}
}
.div2{
  margin-top: 3rem;
}

.navbar {
  background-color: black;
}
.navbar-brand{
  margin-left: 1rem;

}

.contact-details-text {
  margin-top: 3rem
}

.arrow{
  position: absolute;
max-width: fit-content;
bottom: 5%;

}
.row {
  margin-top: 2em
}

.email-arrow {
  font-size: 3rem;
}

.email-custom {
  padding: 1rem
}

@media (min-width: 1440px) {
  .container {
    max-width: 85%
  }
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 800px) {
  .info-img {
  padding:  0px;
  }

}




.info-header {
margin-top: 12rem;
}
@media (min-width: 800px) {
  .info-header {
  margin-top: 20rem;
  }

}





.social-links {
  margin-top: 3rem;
}

.social-links-sm {
  padding-top: 1rem;
}

.copyright {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  padding-top: 32px;
}
.cv{
  margin-top: 5rem;

}
.bio-pg{
  padding-top: 3rem;
}
.logo-link{
  margin-bottom: 0;
}
.underline{
  text-decoration: underline;
}
.email-row{
  margin-top: 0;
}
.index-thumbnail-container{
  height: 200px;
  background-color: blue;
}
.no-padding-left{
  padding-left: 0;
}
